@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  *, *::before, *::after {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply text-base leading-7 bg-custom-body text-custom-body;
  }
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}


